<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>会社概要 ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">会社概要</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; 会社概要</div>
<!--HEADER END-->

<!--CONTENT-->
<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>会社名<br />
(有)ｾﾌﾞﾝ・ｴﾚﾒﾝﾄ・ｴﾝﾀｰﾌﾟﾗｲｾﾞｽ
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>所在地<br />
〒151-0062<br />
東京都渋谷区元代々木町31-4
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>電話番号<br />
03-3467-4355
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>メールアドレス<br />
moege@pokemoe.jp
</div>
<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>