<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>ﾎﾟｲﾝﾄについて ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">ﾎﾟｲﾝﾄについて </a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; ﾎﾟｲﾝﾄについて </div>
<!--HEADER END-->

<!--CONTENT-->
<img src="/img/sp.gif" width="1" height="10" />
<div>
月額会員登録すると、ﾎﾟｲﾝﾄを購入することが可能です。<br />また、会員登録されますと、ﾎﾟｲﾝﾄの追加購入も可能です。
</div>
<img src="/img/sp.gif" width="1" height="10" />
<div>
ﾎﾟｲﾝﾄ所持の上限はございません。<br />お客様の所持ﾎﾟｲﾝﾄは、各作品の詳細に表示されます。<br />会員登録後、ﾀﾞｳﾝﾛｰﾄﾞに必要とするﾎﾟｲﾝﾄを所持している場合は作品詳細ﾍﾟｰｼﾞの「ﾀﾞｳﾝﾛｰﾄﾞ」ﾎﾞﾀﾝを押した時点で、ﾎﾟｲﾝﾄが消費され作品のﾀﾞｳﾝﾛｰﾄﾞが可能になります。
</div>
<img src="/img/sp.gif" width="1" height="10" />
<div>
作品の購入に必要なﾎﾟｲﾝﾄは、作品ごとに異なりますので、各作品の詳細ﾍﾟｰｼﾞにてご確認下さい。
</div>
<img src="/img/sp.gif" width="1" height="10" />
<div>
ﾀﾞｳﾝﾛｰﾄﾞに失敗した場合も、購入履歴から再ﾀﾞｳﾝﾛｰﾄﾞが可能です。<br />(※ﾀﾞｳﾝﾛｰﾄﾞ時の通信料は別途かかります)
</div>
<img src="/img/sp.gif" width="1" height="10" />
<div>
月額会員は、入会時と月初にﾎﾟｲﾝﾄが換算されます。<br />
あまったﾎﾟｲﾝﾄは翌月に繰り越されます。<br />
ﾎﾟｲﾝﾄに消費期限はございません。
</div>



<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>