<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</div>
<!--HEADER END-->

<!--CONTENT-->
<img src="/img/sp.gif" width="1" height="10" />
<div>
当ｻｲﾄでは､個人情報につきまして､下記の目的の範囲内で取り扱いさせて頂きます。
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">・</font>本人確認<br />
<font color="#ff6393">・</font>当サービスに関わる項目<br />
<font color="#ff6393">・</font>当社サービス改善または新たなサービス開発を行う場合
<div>

<img src="/img/sp.gif" width="1" height="10" />
<div>当社は、お客さまの個人情報を第三者に開示・提供することは致しません。<br />
但し、上記利用目的を達成するために必要な範囲内で、当社が信頼できると判断し､個人情報の秘密保持契約を結んだ企業に､業務の一部として個人情報の取り扱いを委託する場合があります。</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>なお、法令等に基づき裁判所・警察機関などの公的機関から開示の要請があった場合については、当該公的機関に提供することがございます。</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>当社における個人情報の取り扱いに関するお客様からのご意見・ご感想に対し適切に対応いたします。</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>当社は個人情報の保護の一層の推進のため､管理体制､安全管理措置その他の継続的な改善に努めます。</div>


<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>