<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>利用規約 ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">利用規約</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; 利用規約</div>
<!--HEADER END-->

<!--CONTENT-->

<img src="/img/sp.gif" width="1" height="10" />
<div>有限会社ｾﾌﾞﾝ・ｴﾚﾒﾝﾄ・ｴﾝﾀｰﾌﾟﾗｲｾﾞｽ（以下「当社」といいます）が提供する『萌ゲー』（以下「本ｻｰﾋﾞｽ」といいます）をご利用されるに当たって、下記のご利用規約をご承諾の上、遵守事項を守りご利用願います。</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>(1)お客様が本ｻｰﾋﾞｽの提供を受けるためには、本ｻｰﾋﾞｽの会員登録が必要です。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(2)本ｻｰﾋﾞｽに関する編集著作権等を含む一切の権利は、当社又は著作権を有する第三者に帰属します。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(3)お客様が本ｻｰﾋﾞｽの内容を当社に無断で転載・複写・蓄積又は転送することを禁止します。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(4)お客様は本ｻｰﾋﾞｽに関する当社及びその他の第三者の権利を脅かしたり、制限したり、若しくは妨害したり又はそのおそれがあるような行動を一切起こしてはならないものとします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(5)お客様は、本ｻｰﾋﾞｽに係るいかなる権利又は義務も第三者に移転又は譲渡することはできません。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(6)当社は本ｻｰﾋﾞｽ及び本利用規約を予告なく改訂、追加、変更又は廃止することができるものとします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(7)本ｻｰﾋﾞｽのご利用には情報料の他に別途通信料がかかります。お客様がﾊﾟｹｯﾄｻｰﾋﾞｽをご利用の場合には送受信の通信料がかかります。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(8)情報料は、お客様が本ｻｰﾋﾞｽの会員登録をされた日の属する月から本ｻｰﾋﾞｽの契約が解除された日の属する月迄、その月数に応じてお支払いいただきます（日割計算は行いません）。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(9)お客様の本規約に基づく情報料の支払義務は、本ｻｰﾋﾞｽを利用することができない状態が生じた場合も含め、いかなる場合でも免れません。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(10)お客様は、本ｻｰﾋﾞｽのご利用にあたり、特定商取引法に基づく表記に書かれているお支払方法で情報料のお支払を承諾したものと致します。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(11)当社は、お客様が支払うべき情報料を支払わない場合、その他本利用規約に違反した場合は、何ら通知又は催告なしにお客様に対する本ｻｰﾋﾞｽの提供を停止し、又は会員登録を解除することができるものとします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(12)お客様が本ｻｰﾋﾞｽの会員登録を解除される場合は、解除の手続きをおこなっていただきます。お客様が本ｻｰﾋﾞｽに対応していない機種に機種変更された後に会員登録を解除される場合は、機種変更後の当該端末を通じて解除の手続きをおこなっていただきます。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(13)お客様の機種を通じての会員登録解除の手続きは全てお客様本人からの手続きとして取扱うものとします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(14)当社は、お客様に提供する本ｻｰﾋﾞｽの情報内容について、正確性・確実性を保証するものではありません。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(15)お客様に登録いただき当社が取得しました個人情報は、当社の個人情報保護ﾏﾈｰｼﾞﾒﾝﾄｼｽﾃﾑに基づき管理いたします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(16)お客様の個人情報は、本ｻｰﾋﾞｽ、ﾒｰﾙﾏｶﾞｼﾞﾝ配信、統計ﾃﾞｰﾀ作成及びお問合わせ対応等の目的のために利用させていただきます。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(17)お客様の個人情報は、お客様の同意を得ずに第三者に提供することは原則としてありません。ただし、警察などの公的な機関からの要請に対しては提供することがあります。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(18)お客様の個人情報に入力違いや入力漏れ等がある場合、ｻｰﾋﾞｽをご利用頂けなかったり、当社が意図していない情報を提供してしまうことがあります。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(19)本ｻｰﾋﾞｽのご利用に当たり当社の責に帰す事由によりお客様が損害を被った場合は、当社は、情報料に相当する金額を上限として、当該損害を賠償するものとします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(20)お客様との間で疑義又は争いが生じた場合には、誠意を持って協議することとしますが、それでもなお解決しない場合には「東京地方裁判所」又は「東京簡易裁判所」を専属の管轄裁判所とします。
</div><img src="/img/sp.gif" width="1" height="10" /><div>
(21)当社が運営上必要と認めた場合には本ｻｰﾋﾞｽの内容の変更及び終了を当社の判断にて実施することをご承諾頂きます。また本ｻｰﾋﾞｽは事前の予告無くｼｽﾃﾑのﾒﾝﾃﾅﾝｽを行なう場合があります。</div>

</div><img src="/img/sp.gif" width="1" height="10" /><div>

<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>