<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>特定商取引法に基づく表記 ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">特定商取引法に基づく表記</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; 特定商取引法に基づく表記</div>
<!--HEADER END-->

<!--CONTENT-->
<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>販売業者<br />
(有)ｾﾌﾞﾝ・ｴﾚﾒﾝﾄ・ｴﾝﾀｰﾌﾟﾗｲｾﾞｽ
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>運営統括責任者<br />
老沼 良浩
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>所在地<br />
〒151-0062<br />
東京都渋谷区元代々木町31-4
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>電話番号<br />
03-3467-4355
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>ﾒｰﾙｱﾄﾞﾚｽ<br />
moege@pokemoe.jp
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>屋号<br />
モエゲー
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>引渡し時期<br />
即時
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>お支払い方法<br />
ｸﾚｼﾞｯﾄｶｰﾄﾞ
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>ご購入方法<br />
上記決済方法によりお支払頂き､お客様はﾎﾟｲﾝﾄを使用してﾀﾞｳﾝﾛｰﾄﾞする事により商品を閲覧する事ができます。
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>引渡し時期<br />
即時
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>閲覧期間<br />
ﾀﾞｳﾝﾛｰﾄﾞした作品は期限なく閲覧可能です。
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>ｷｬﾝｾﾙについて<br />
ﾎﾟｲﾝﾄを購入された後の返金は、ﾃﾞｼﾞﾀﾙｺﾝﾃﾝﾂの特性上一切致しておりませんので､十分にご確認頂いた上でご利用をお願い致します。
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>ﾎﾟｲﾝﾄの失効<br />
ｻｰﾋﾞｽが継続している限り購入されたﾎﾟｲﾝﾄの失効はございませんので安心してご利用下さい。
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>返品について<br />
ﾃﾞｼﾞﾀﾙｺﾝﾃﾝﾂの性質上、原則として返品はお断りしています。<br />ただし、ファイルの破損によりダウンロードできない場合やファイルが正常に開けない場合は、モエゲーが破損したファイルを確認した後、購入から10日以内であれば、返金に応じるものといたします。
</div>

<img src="/img/sp.gif" width="1" height="10" />
<div>
<font color="#ff6393">●</font>ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ<br />
個人情報に関する扱いについては<a href="privacy.html">ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</a>をご覧下さい。
</div>
<img src="/img/sp.gif" width="1" height="10" />

<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>