<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" type="text/css" href="../css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.dropdownPlain.js"></script>
<title>ユーザー購入履歴｜モエゲー管理画面</title>
</head>

<body>
	<div id="wrap">
    	<div id="header" class="clearfix">
        	<h1>モエゲー管理システム</h1>            <ul class="dropdown">
            	<li class="li01"><a href="../contents/index.html">コンテンツ</a>
                	<ul class="submenu">
                            <li><a href="../contents/index.html">作品一覧</a></li>
                            <li><a href="../contents/item.html">商品一覧</a></li>
                    </ul></li>
            	<li class="li02"><a href="../user/index.html">ユーザー</a>
                	<ul class="submenu">
                            <li><a href="../user/index.html">ユーザー</a></li>
                    </ul></li>
            	<li class="li03"><a href="../sales/index.html">売上</a>
                	<ul class="submenu">
                            <li><a href="../sales/index.html">売上</a></li>
                            <li><a href="../sales/pay_index.html">支払</a></li>
                    </ul></li>
            	<li class="li04"><a href="../magazine/index.html">メルマガ</a>
                	<ul class="submenu">
                            <li><a href="../magazine/index.html">メルマガメイン</a></li>
                            <li><a href="../magazine/send.html">新規配信設定</a></li>
                            <li><a href="../magazine/send_old.html">送信履歴</a></li>
                    </ul></li>
            	<li class="li05"><a href="../maintenance/index.html">マスターメンテナンス</a>
                	<ul class="submenu">
                            <li><a href="../maintenance/index.html">販売会社</a></li>
                            <li><a href="../maintenance/maker.html">メーカー</a></li>
                            <li><a href="../maintenance/genre.html">ジャンル</a></li>
                            <li><a href="../maintenance/price.html">コース</a></li>
                            <li><a href="../maintenance/detail.html">詳細設定</a></li>
                    </ul></li>
            </ul>
            <input type="image" src="../images/common/btn_logout.gif" alt="ログアウト" width="73" height="22" />
        </div>
        <div id="contents">
        	<p class="pankuzu"><a href="../index.html">メインメニュー</a> &gt; <a href="index.html">ユーザー</a> &gt; ユーザー購入履歴</p>
            <h2>ユーザー購入履歴</h2>
            <div class="inner pdt15 clearfix">
                <table class="type02" summary="一覧">
                	<tr>
                   		<th class="">コンテンツ</th>
                    	<th class="">サービス形態</th>
                    	<th class="">ID <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="">メールアドレス <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="">登録日 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="">ログイン日 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="">残ポイント</th>
                    	<th class="">コース</th>
                    	<th class="">販売金額合計</th>
                    	<th class="end">自社売上予測</th>
                	</tr>
                    <tr>
                    	<td>ポケモエ</td>
                    	<td>au公式</td>
                    	<td class="aln_r">1</td>
                    	<td>abc@abc.co.jp</td>
                    	<td class="aln_r">2010/10/01</td>
                    	<td class="aln_r">2010/10/01</td>
                    	<td class="aln_r">300</td>
                    	<td>月額10500円コース</td>
                    	<td class="aln_r">80000</td>
                    	<td class="aln_r">130000</td>
                    </tr>
                
                </table>
                
                <div class="pagelink clearfix">
                <ul>
                	<li><a href="">&lt;</a></li>
                	<li><a href="">1</a></li>
                    <li><span>2</span></li>
                	<li><a href="">3</a></li>
                	<li><a href="">4</a></li>
                	<li><a href="">5</a></li>
                	<li><a href="">6</a></li>
                	<li><a href="">7</a></li>
                	<li><a href="">8</a></li>
                	<li><a href="">9</a></li>
                	<li><a href="">&gt;</a></li>
                </ul>
                <p class="total">トータル　12345件</p>
                </div>
                <table class="type02" summary="一覧">
                    <tr>
                   		<th class="">購入日</th>
                   		<th class="">決済方法</th>
                   		<th class="">商品</th>
                   		<th class="">付与ポイント</th>
                   		<th class="">販売金額</th>
                   		<th class="">決済手数料</th>
                   		<th class="">売上（販売価格-決済手数料）</th>
                    	<th class="end">自社売上(売上の60%)</th>
                	</tr>
                    <tr>
                    	<td class="aln_r">2010/10/01</td>
                    	<td>公式決済</td>
                    	<td>月額10500円コース</td>
                    	<td class="aln_r">1</td>
                    	<td class="aln_r">1</td>
                    	<td class="aln_r">1</td>
                    	<td class="aln_r">1</td>
                    	<td class="aln_r">1</td>
                    </tr>
                </table>

                <div class="pagelink clearfix">
                <ul>
                	<li><a href="">&lt;</a></li>
                	<li><a href="">1</a></li>
                    <li><span>2</span></li>
                	<li><a href="">3</a></li>
                	<li><a href="">4</a></li>
                	<li><a href="">5</a></li>
                	<li><a href="">6</a></li>
                	<li><a href="">7</a></li>
                	<li><a href="">8</a></li>
                	<li><a href="">9</a></li>
                	<li><a href="">&gt;</a></li>
                </ul>
                <p class="total">トータル　12345件</p>
                </div>
        </div>
        
        </div>
        <address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
    </div>

</body>
</html>
