<link rel="stylesheet" href="<!--{base}-->/admin/css/bootstrap.css" />
<style>
body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
</style>
<link rel="stylesheet" href="<!--{base}-->/admin/css/bootstrap-responsive.css" />
<script type="text/javascript" src="<!--{base}-->/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="<!--{base}-->/admin/js/bootstrap.js"></script>
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="icon/favicon.ico">
