<div id="header" class="clearfix">
	<h1>モエゲー管理システム</h1>
	<ul class="dropdown">
		<li class="li01"><a href="/admin/contents/index.html">コンテンツ</a>
			<ul class="submenu">
					<li><a href="/admin/contents/index.html">作品一覧</a></li>
					<li><a href="/admin/contents/item.html">商品一覧</a></li>
			</ul></li>
		<li class="li02"><a href="/admin/user/index.html">ユーザー</a>
			<ul class="submenu">
					<li><a href="/admin/user/index.html">ユーザー</a></li>
			</ul></li>
		<li class="li03"><a href="/admin/sales/index.html">売上</a>
			<ul class="submenu">
					<li><a href="/admin/sales/index.html">売上</a></li>
					<li><a href="/admin/sales/pay_index.html">支払</a></li>
			</ul></li>
		<li class="li04"><a href="/admin/magazine/index.html">メルマガ</a>
			<ul class="submenu">
					<li><a href="/admin/magazine/index.html">メルマガメイン</a></li>
					<li><a href="/admin/magazine/send.html">新規配信設定</a></li>
					<li><a href="/admin/magazine/send_old.html">送信履歴</a></li>
			</ul></li>
		<li class="li05"><a href="/admin/maintenance/index.html">マスターメンテナンス</a>
			<ul class="submenu">
					<li><a href="/admin/maintenance/index.html">販売会社</a></li>
					<li><a href="/admin/maintenance/maker.html">メーカー</a></li>
					<li><a href="/admin/maintenance/genre.html">ジャンル</a></li>
					<li><a href="/admin/maintenance/price.html">コース</a></li>
					<li><a href="/admin/maintenance/detail.html">詳細設定</a></li>
			</ul></li>
	</ul>
	<input type="image" src="/admin/images/common/btn_logout.gif" alt="ログアウト" width="73" height="22" onclick="location.href='/admin/login.html'; return false;" />
</div>
