<ul data-role="listview">
	<li><a href="<!--{base}-->/admin/contents/category/index.html">カテゴリ一覧</a></li>
	<li><a href="<!--{base}-->/admin/contents/character/index.html">キャラクター一覧</a></li>
	<li><a href="<!--{base}-->/admin/contents/keyword/index.html">キーワード一覧</a></li>
	<li><a href="<!--{base}-->/admin/contents/flag/index.html">商品フラグ一覧</a></li>
	<li><a href="<!--{base}-->/admin/contents/developer/index.html">メーカー一覧</a></li>
	<li><a href="<!--{base}-->/admin/contents/seller/index.html">販売者一覧</a></li>
	<li><a href="<!--{base}-->/admin/contents/product/index.html">商品一覧</a></li>
</ul>
