<link rel="stylesheet" type="text/css" href="<!--{$smarty.const.FRAMEWORK_URL_BASE}-->/admin/css/import.css" media="all" />
<link rel="stylesheet" type="text/css" href="<!--{$smarty.const.FRAMEWORK_URL_BASE}-->/admin/css/anytime.css" media="all" />
<script type="text/javascript" language="javascript" src="<!--{$smarty.const.FRAMEWORK_URL_BASE}-->/admin/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$smarty.const.FRAMEWORK_URL_BASE}-->/admin/js/anytime.js"></script>
<script type="text/javascript" language="javascript" src="<!--{$smarty.const.FRAMEWORK_URL_BASE}-->/admin/js/jquery.dropdownPlain.js"></script>
