<link rel="stylesheet" href="<!--{base}-->/admin/css/jquery.mobile-1.1.0.min.css" />
<link rel="stylesheet" href="<!--{base}-->/admin/css/jquery.mobile.theme-1.1.0.min.css" />
<link rel="stylesheet" href="<!--{base}-->/admin/css/jqm-docs.css" />
<link rel="stylesheet" href="<!--{base}-->/admin/css/anytime.css" />
<script type="text/javascript" src="<!--{base}-->/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="<!--{base}-->/admin/js/jquery.mobile-1.1.0.min.js"></script>
<script type="text/javascript" src="<!--{base}-->/admin/js/jqm-docs.js"></script>
<script type="text/javascript" src="<!--{base}-->/admin/js/anytime.js"></script>
