<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Check.Require" key="name" value="お名前"  />
<meta name="loadmodule" content="Check.Require" key="email" value="メールアドレス"  />
<meta name="loadmodule" content="Check.Require" key="subject" value="件名"  />
<meta name="loadmodule" content="Check.Require" key="description" value="お問い合わせ内容"  />
<meta name="loadmodule" content="CheckError" error="inquiry/form.html"  />
<meta name="loadmodule" content="SaveInput" />
<title>送信内容確認 ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">送信内容確認</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; <a href="index.html">お問い合わせ</a> &gt; 送信内容確認</div>
<!--HEADER END-->

<!--CONTENT-->
<div style="margin-top:10px;">
以下の内容で送信します。<br />
よろしければ送信ボタンを押してください。
</div>

<form method="post" action="submit.html">
<input type="hidden" name="forms[]" value="name:お名前" />
<input type="hidden" name="forms[]" value="email:メールアドレス" />
<input type="hidden" name="forms[]" value="subject:件名" />
<input type="hidden" name="forms[]" value="description:お問い合わせ内容" />

<div style="margin-top:10px;">
<span style="color:#ff6393;">●</span>お名前<br />
<!--{$INPUT_DATA.name|escape}-->
</div>

<div style="margin-top:5px;">
<span style="color:#ff6393;">●</span>ﾒｰﾙｱﾄﾞﾚｽ(半角英数)<br />
<!--{$INPUT_DATA.email|escape}-->
</div>

<div style="margin-top:5px;">
<span style="color:#ff6393;">●</span>件名<br />
<!--{$INPUT_DATA.subject|escape}-->
</div>

<div style="margin-top:5px;">
<span style="color:#ff6393;">●</span>お問い合わせ内容<br />
<!--{$INPUT_DATA.description|escape|nl2br}-->
</div>

<div style="text-align:center;margin-top:10px;">
<input type="submit" name="Submit" value="送 信" />
</div>

</form>
<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>