<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>ﾒｰﾙﾌｫｰﾑ ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>
<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">ﾒｰﾙﾌｫｰﾑ</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; <a href="index.html">お問い合わせ</a> &gt; ﾒｰﾙﾌｫｰﾑ</div>
<!--HEADER END-->

<!--CONTENT-->
<div style="margin-top:10px;">
全ての項目にご入力の上、送信内容確認画面へお進みください。
</div>

<form method="post" action="confirm.html">

<div style="margin-top:10px;">
<!--{if $ERRORS.name != ""}-->
<table><tr><td bgcolor="#FF3300"><font color="#ffffff"><!--{$ERRORS.name}--></font></td></tr></table>
<!--{/if}-->
<span style="color:#ff6393;">●</span>お名前<br />
<input name="name" type="text" size="25" value="<!--{$INPUT_DATA.name}-->" />
</div>

<div style="margin-top:5px;">
<!--{if $ERRORS.email != ""}-->
<table><tr><td bgcolor="#FF3300"><font color="#ffffff"><!--{$ERRORS.email}--></font></td></tr></table>
<!--{/if}-->
<span style="color:#ff6393;">●</span>ﾒｰﾙｱﾄﾞﾚｽ(半角英数)<br />
<input name="email" type="text" size="25" value="<!--{$INPUT_DATA.email}-->" />
</div>

<div style="margin-top:5px;">
<!--{if $ERRORS.subject != ""}-->
<table><tr><td bgcolor="#FF3300"><font color="#ffffff"><!--{$ERRORS.subject}--></font></td></tr></table>
<!--{/if}-->
<span style="color:#ff6393;">●</span>件名<br />
<input name="subject" type="text" size="25" value="<!--{$INPUT_DATA.subject}-->" />
</div>

<div style="margin-top:5px;">
<!--{if $ERRORS.description != ""}-->
<table><tr><td bgcolor="#FF3300"><font color="#ffffff"><!--{$ERRORS.description}--></font></td></tr></table>
<!--{/if}-->
<span style="color:#ff6393;">●</span>お問い合わせ内容<br />
<textarea name="description" cols="25"><!--{$INPUT_DATA.description}--></textarea>
</div>

<div style="text-align:center;margin-top:10px;">
<input type="submit" name="Submit" value="内容確認画面へ" />
</div>

</form>
<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>