<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="loadmodule" content="Base.Selections.Years" past="5" term="10" />
<meta name="loadmodule" content="Base.Selections.Months" />
<meta name="loadmodule" content="Base.Selections.Days" />
<meta name="loadmodule" content="Shopping.Admin.Login" error="admin/login.html" />
<meta name="loadmodule" content="Shopping.Admin.Category.Tree" types="1,2,3" />
<meta name="loadmodule" content="Shopping.Admin.Product.Upload" />
<meta name="loadmodule" content="Shopping.Admin.Product.Add" redirect="index.html" />
<meta name="loadmodule" content="Shopping.Admin.Product.Detail" />
<link rel="stylesheet" type="text/css" href="../css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.dropdownPlain.js"></script>
<title>モエゲー作品＆商品新規登録｜モエゲー管理画面</title>
<script type="text/javascript">
<!--
function searchDeveloper(searchName){
	$.ajax({
		url: "/jsonp.php",
		data: {
			p: "Shopping.Developers",
			name: searchName
		},
		dataType: "jsonp",
		success: function(data){
			$("#developers").html("");
			$.each(data, function(i, item){
				if(item.developer_id == "<!--{$ATTRIBUTES.product.developers.0.developer_id}-->"){
				$("<option />").attr("value", item.developer_id).attr("selected", "selected").text(item.developer_name).appendTo("#developers");
				}else{
				$("<option />").attr("value", item.developer_id).text(item.developer_name).appendTo("#developers");
				}
			});
		}
	});
}

function searchSeller(searchName){
	$.ajax({
		url: "/jsonp.php",
		data: {
			p: "Shopping.Sellers",
			name: searchName
		},
		dataType: "jsonp",
		success: function(data){
			$("#sellers").html("");
			$.each(data, function(i, item){
				if(item.seller_id == "<!--{$ATTRIBUTES.product.sellers.0.seller_id}-->"){
				$("<option />").attr("value", item.seller_id).attr("selected", "selected").text(item.seller_name).appendTo("#sellers");
				}else{
				$("<option />").attr("value", item.seller_id).text(item.seller_name).appendTo("#sellers");
				}
			});
		}
	});
}
// -->
</script>
</head>
<body onLoad="searchDeveloper(''); searchSeller('');">
<div id="wrap">
	<!-- HEADER -->
	<!--{include file="admin/common/header.html"}-->
	<!-- HEADER END -->
	<div id="contents">
		<p class="pankuzu"><a href="/admin/index.html">メインメニュー</a> &gt; <a href="index.html">コンテンツ</a> &gt; モエゲー作品＆商品新規登録</p>
		<h2>モエゲー作品＆商品新規登録</h2>
		<div class="inner pdt15 clearfix">
			<p class="mgb10">商品一覧（<!--{$ATTRIBUTES.product.children|@count}-->）</p>
			<form action="/admin/contents/title.html" method="POST" enctype="multipart/form-data">
			<h3>表示コントロール</h3>
			<table class="type01 mgb30" summary="登録">
				<tr>
					<td>
					<!--{foreach from=$ATTRIBUTES.types item="type"}-->
					<input type="checkbox" name="types[<!--{$type.type_id}-->]" id="types_<!--{$type.type_id}-->"<!--{if $ATTRIBUTES.product.types[$type.type_id] != ""}--> checked<!--{/if}--> value="<!--{$type.type_id}-->" /> 
					<!--{$type.type_name|escape}-->　
					<!--{/foreach}-->
					</td>
				</tr>
			</table>
			<h3>作品情報</h3>
			<input type="hidden" name="product_id" value="<!--{$ATTRIBUTES.product.product_id}-->" />
			<table class="type01 mgb30" summary="登録">
				<tr>
					<th>表示順<span class="note">*必須</span></th>
					<td colspan="3"><input type="text" name="sort_order" id="sort_order" class="middle" value="<!--{$ATTRIBUTES.product.sort_order}-->" /></td>
				</tr>
				<tr>
					<th>メーカー<span class="note">*必須</span></th>
					<td colspan="3">
					<select name="developers[0]" id="developers"></select> 
					<input type="text" name="developer_search" id="developer_search" onKeyUp="searchDeveloper(this.value)" /> ※メーカー検索絞込み
					</td>
				</tr>
				<tr>
					<th>販売会社<span class="note">*必須</span></th>
					<td colspan="3">
					<select name="sellers[0]" id="sellers"></select> 
					<input type="text" name="seller_search" id="seller_search" onKeyUp="searchSeller(this.value)" /> ※メーカー検索絞込み
					</td>
				</tr>
				<tr>
					<th>作品名<span class="note">*必須</span></th>
					<td><input type="text" name="product_name" id="product_name" class="middle" value="<!--{$ATTRIBUTES.product.product_name}-->" /></td>
					<th>ふりがな<span class="note">*必須</span></th>
					<td><input type="text" name="product_name_kana" id="product_name_kana" class="middle" value="<!--{$ATTRIBUTES.product.product_name_kana}-->" /></td>
				</tr>
				<tr>
					<th>説明（一覧用）<span class="note">*必須</span></th>
					<td colspan="3"><textarea name="list_comment" id="list_comment" cols="100" rows="5"><!--{$ATTRIBUTES.product.list_comment}--></textarea></td>
				</tr>
				<tr>
					<th>説明<span class="note">*必須</span></th>
					<td colspan="3"><textarea name="detail_comment" id="detail_comment" cols="100" rows="5"><!--{$ATTRIBUTES.product.detail_comment}--></textarea></td>
				</tr>
				<tr>
					<th>作家名<span class="note">*必須</span></th>
					<td><input type="text" name="creator_name" id="creator_name" class="middle" value="<!--{$ATTRIBUTES.product.creator_name}-->" /></td>
					<th>ふりがな<span class="note">*必須</span></th>
					<td><input type="text" name="creator_name_kana" id="creator_name_kana" class="middle" value="<!--{$ATTRIBUTES.product.creator_name_kana}-->" /></td>
				</tr>
			</table>
			<h3>カテゴリ</h3>
			<table class="type01" summary="登録">
				<!--{foreach from=$ATTRIBUTES.categories item="categoryType"}-->
				<tr>
					<th><!--{$categoryType.category_type|escape}--></th>
					<td>
					<!--{if $categoryType.category_type_id != 3}-->
					<select name="categories[<!--{$categoryType.category_type_id}-->][]" id="categories">
					<!--{foreach from=$categoryType.categories item="category"}-->
					<option value="<!--{$category.category_id}-->"<!--{if is_array($ATTRIBUTES.product.categories[$category.category_type_id]) && in_array($category.category_id, $ATTRIBUTES.product.categories[$category.category_type_id])}--> selected<!--{/if}-->><!--{$category.category_name}--></option>
					<!--{/foreach}-->
					</select>
					<!--{else}-->
					<!--{foreach from=$categoryType.categories item="category"}-->
					<input type="checkbox" name="categories[<!--{$categoryType.category_type_id}-->][]" value="<!--{$category.category_id}-->"<!--{if is_array($ATTRIBUTES.product.categories[$category.category_type_id]) && in_array($category.category_id, $ATTRIBUTES.product.categories[$category.category_type_id])}--> checked<!--{/if}--> /><!--{$category.category_name}-->
					<!--{/foreach}-->
					<!--{/if}-->
					</td>
				</tr>
				<!--{/foreach}-->
			</table>
			<h3>画像</h3>
			<table class="type01" summary="登録">
				<!--{foreach from=$ATTRIBUTES.types item="type"}-->
				<tr>
					<th colspan="2" class="another"><!--{$type.type_name|escape}--></th>
				</tr>
				<tr>
					<th>アイコン<span class="note">*必須</span></th>
					<td>
					<!--{assign var="icon_image_key" value="icon_image_`$type.type_name_s`"}-->
					<!--{if $ATTRIBUTES.product[$icon_image_key] != ""}-->
					<img src="<!--{$ATTRIBUTES.product[$icon_image_key]}-->">
					<!--{/if}-->
					<input type="hidden" name="<!--{$icon_image_key}-->" value="<!--{$ATTRIBUTES.product[$icon_image_key]}-->" />
					<input type="file" name="<!--{$icon_image_key}-->" id="<!--{$icon_image_key}-->" />
					<input type="submit" name="upload[<!--{$icon_image_key}-->]" id="upload_<!--{$icon_image_key}-->" value="アップロード" />
					</td>
				</tr>
				<tr>
					<th>一覧用<span class="note">*必須</span></th>
					<td>
					<!--{assign var="list_image_key" value="list_image_`$type.type_name_s`"}-->
					<!--{if $ATTRIBUTES.product[$list_image_key] != ""}-->
					<img src="<!--{$ATTRIBUTES.product[$list_image_key]}-->">
					<!--{/if}-->
					<input type="hidden" name="<!--{$list_image_key}-->" value="<!--{$ATTRIBUTES.product[$list_image_key]}-->" />
					<input type="file" name="<!--{$list_image_key}-->" id="<!--{$list_image_key}-->" />
					<input type="submit" name="upload[<!--{$list_image_key}-->]" id="upload_<!--{$list_image_key}-->" value="アップロード" />
					</td>
				</tr>
				<tr>
					<th>詳細用<span class="note">*必須</span></th>
					<td>
					<!--{assign var="detail_image_key" value="detail_image_`$type.type_name_s`"}-->
					<!--{if $ATTRIBUTES.product[$detail_image_key] != ""}-->
					<img src="<!--{$ATTRIBUTES.product[$detail_image_key]}-->">
					<!--{/if}-->
					<input type="hidden" name="<!--{$detail_image_key}-->" value="<!--{$ATTRIBUTES.product[$detail_image_key]}-->" />
					<input type="file" name="<!--{$detail_image_key}-->" id="<!--{$detail_image_key}-->" />
					<input type="submit" name="upload[<!--{$detail_image_key}-->]" id="upload_<!--{$detail_image_key}-->" value="アップロード" />
					</td>
				</tr>
				<!--{/foreach}-->
			</table>
			<p class="aln_c mgb30"><input type="submit" name="add" id="add" value="保存" /></p>
			<h3>商品情報</h3>
			<table class="type01" summary="登録">
				<!--{foreach from=$ATTRIBUTES.product.children key="i" item="child"}-->
				<input type="hidden" name="children[<!--{$i}-->][product_id]" id="children_<!--{$i}-->_product_id" value="<!--{$child.product_id}-->" />
				<tr>
					<th colspan="2" class="another"><!--{$i+1}-->本目</th>
				</tr>
				<tr>
					<th class="end">ソート<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][sort_order]" id="children_<!--{$i}-->_sort_order" value="<!--{$child.sort_order}-->" /></td>
				</tr>
				<tr>
					<th class="end">作品名<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][product_name]" id="children_<!--{$i}-->_product_name" value="<!--{$child.product_name}-->" class="long" /></td>
				</tr>
				<!--{foreach from=$ATTRIBUTES.types item="type"}-->
				<tr>
					<th>コンテンツファイル（<!--{$type.type_name|escape}-->）<span class="note">*必須</span></th>
					<td>
						<!--{assign var="content_url_key" value="content_url_`$type.type_name_s`"}-->
						<!--{if $ATTRIBUTES.product.children[$i][$content_url_key] != ""}-->
						<object classid="clsid:D27CDB6E- AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/ swflash.cab#version=6,0,29,0" width="240" height="320">
						  <param name="movie" value="http://mg.pokemoe.jp<!--{$ATTRIBUTES.product.children[$i][$content_url_key]}-->" />
						  <param name="quality" value="high" />
						  <param name="wmode" value="transparent" />
						  <embed src="http://mg.pokemoe.jp<!--{$ATTRIBUTES.product.children[$i][$content_url_key]}-->" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" width="240" height="320"></embed>
						</object>
						<!--{/if}-->
						<input type="hidden" name="children[<!--{$i}-->][<!--{$content_url_key}-->]" value="<!--{$ATTRIBUTES.product.children[$i][$content_url_key]}-->" />
						<input type="file" name="children[<!--{$i}-->][<!--{$content_url_key}-->]" id="children_<!--{$i}-->_<!--{$content_url_key}-->" />
						<input type="submit" name="upload[children][<!--{$i}-->][<!--{$content_url_key}-->]" id="children_<!--{$i}-->_upload_<!--{$content_url_key}-->" value="アップロード" />
					</td>
				</tr>
				<!--{/foreach}-->
				<tr>
					<th class="end">標準価格（ポイント）<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][price]" id="children_<!--{$i}-->_price" value="<!--{$child.price}-->" class="small" />円（ポイント）</td>
				</tr>
				<tr>
					<th class="end">販売価格（ポイント）<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][sale_price]" id="children_<!--{$i}-->_sale_price" value="<!--{$child.sale_price}-->" class="small" />円（ポイント）</td>
				</tr>
				<tr>
					<th class="end">公開期間<span class="note">*必須</span></th>
					<td>
					<!--{assign var="child.sale_start_year" value=$child.sale_start|date_format:"%y"}-->
					<select name="children[<!--{$i}-->][sale_start_year]">
					<option value="">----</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.years selected=$child.sale_start_year}-->
					</select> 年
					<select name="children[<!--{$i}-->][sale_start_month]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.months selected=$child.sale_start_month}-->
					</select> 月
					<select name="children[<!--{$i}-->][sale_start_day]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.days selected=$child.sale_start_day}-->
					</select> 日 〜
					<select name="children[<!--{$i}-->][sale_end_year]">
					<option value="">----</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.years selected=$child.sale_end_year}-->
					</select> 年
					<select name="children[<!--{$i}-->][sale_end_month]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.months selected=$child.sale_end_month}-->
					</select> 月
					<select name="children[<!--{$i}-->][sale_end_day]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.days selected=$child.sale_end_day}-->
					</select> 日
					</td>
				</tr>
				<tr>
					<td colspan="2">
					<input type="submit" name="add" id="add" value="登録" />
					</td>
				</tr>
				<!--{/foreach}-->
				<!-- 新規追加用 -->
				<!--{if count($ATTRIBUTES.product.children) < 1}-->
				<!--{assign var="i" value=$ATTRIBUTES.product.children|@count}-->
				<input type="hidden" name="children[<!--{$i}-->][product_id]" id="children_<!--{$i}-->_product_id" value="" />
				<tr>
					<th colspan="2" class="another"><!--{$i+1}-->本目</th>
				</tr>
				<tr>
					<th class="end">ソート<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][sort_order]" id="children_<!--{$i}-->_sort_order" value="" /></td>
				</tr>
				<tr>
					<th class="end">作品名<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][product_name]" id="children_<!--{$i}-->_product_name" value="" class="long" /></td>
				</tr>
				<!--{foreach from=$ATTRIBUTES.types item="type"}-->
				<tr>
					<th>コンテンツファイル（<!--{$type.type_name|escape}-->）<span class="note">*必須</span></th>
					<td>
						<!--{assign var="content_url_key" value="content_url_`$type.type_name_s`"}-->
						<!--{if $ATTRIBUTES.product[$content_url_key] != ""}-->
						<object classid="clsid:D27CDB6E- AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/ swflash.cab#version=6,0,29,0" width="240" height="320">
						  <param name="movie" value="http://mg.pokemoe.jp<!--{$ATTRIBUTES.product[$content_url_key]}-->" />
						  <param name="quality" value="high" />
						  <param name="wmode" value="transparent" />
						  <embed src="http://mg.pokemoe.jp<!--{$ATTRIBUTES.product[$content_url_key]}-->" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" wmode="transparent" width="240" height="320"></embed>
						</object>
						<!--{/if}-->
						<input type="hidden" name="children[<!--{$i}-->][<!--{$content_url_key}-->]" value="" />
						<input type="file" name="children[<!--{$i}-->][<!--{$content_url_key}-->]" id="children_<!--{$i}-->_<!--{$content_url_key}-->" />
						<input type="submit" name="upload[children][<!--{$i}-->][<!--{$content_url_key}-->]" id="children_<!--{$i}-->_upload_<!--{$content_url_key}-->" value="アップロード" />
					</td>
				</tr>
				<!--{/foreach}-->
				<tr>
					<th class="end">標準価格（ポイント）<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][price]" id="children_<!--{$i}-->_price" value="" class="small" />円（ポイント）</td>
				</tr>
				<tr>
					<th class="end">販売価格（ポイント）<span class="note">*必須</span></th>
					<td><input type="text" name="children[<!--{$i}-->][sale_price]" id="children_<!--{$i}-->_sale_price" value="" class="small" />円（ポイント）</td>
				</tr>
				<tr>
					<th class="end">公開期間<span class="note">*必須</span></th>
					<td>
					<select name="children[<!--{$i}-->][sale_start_year]">
					<option value="">----</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.years}-->
					</select> 年
					<select name="children[<!--{$i}-->][sale_start_month]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.months}-->
					</select> 月
					<select name="children[<!--{$i}-->][sale_start_day]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.days}-->
					</select> 日 〜
					<select name="children[<!--{$i}-->][sale_end_year]">
					<option value="">----</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.years}-->
					</select> 年
					<select name="children[<!--{$i}-->][sale_end_month]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.months}-->
					</select> 月
					<select name="children[<!--{$i}-->][sale_end_day]">
					<option value="">--</option>
					<!--{html_options options=$ATTRIBUTES.SELECTION.days}-->
					</select> 日
					</td>
				</tr>
				<tr>
					<td colspan="2">
					<input type="submit" name="add" id="add" value="登録" />
					</td>
				</tr>
				<!--{/if}-->
			</table>
			</form>
		</div>
	</div>
	<address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
</div>
</body>
</html>
