<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" type="text/css" href="../css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.dropdownPlain.js"></script>
<title>新規送信設定（送信設定）｜モエゲー管理画面</title>
</head>

<body>
	<div id="wrap">
    	<div id="header" class="clearfix">
        	<h1>モエゲー管理システム</h1>            <ul class="dropdown">
            	<li class="li01"><a href="../contents/index.html">コンテンツ</a>
                	<ul class="submenu">
                            <li><a href="../contents/index.html">作品一覧</a></li>
                            <li><a href="../contents/item.html">商品一覧</a></li>
                    </ul></li>
            	<li class="li02"><a href="../user/index.html">ユーザー</a>
                	<ul class="submenu">
                            <li><a href="../user/index.html">ユーザー</a></li>
                    </ul></li>
            	<li class="li03"><a href="../sales/index.html">売上</a>
                	<ul class="submenu">
                            <li><a href="../sales/index.html">売上</a></li>
                            <li><a href="../sales/pay_index.html">支払</a></li>
                    </ul></li>
            	<li class="li04"><a href="../magazine/index.html">メルマガ</a>
                	<ul class="submenu">
                            <li><a href="../magazine/index.html">メルマガメイン</a></li>
                            <li><a href="../magazine/send.html">新規配信設定</a></li>
                            <li><a href="../magazine/send_old.html">送信履歴</a></li>
                    </ul></li>
            	<li class="li05"><a href="../maintenance/index.html">マスターメンテナンス</a>
                	<ul class="submenu">
                            <li><a href="../maintenance/index.html">販売会社</a></li>
                            <li><a href="../maintenance/maker.html">メーカー</a></li>
                            <li><a href="../maintenance/genre.html">ジャンル</a></li>
                            <li><a href="../maintenance/price.html">コース</a></li>
                            <li><a href="../maintenance/detail.html">詳細設定</a></li>
                    </ul></li>
            </ul>
            <input type="image" src="../images/common/btn_logout.gif" alt="ログアウト" width="73" height="22" />
        </div>
        <div id="contents">
        	<p class="pankuzu"><a href="../index.html">メインメニュー</a> &gt; <a href="index.html">メルマガ</a> &gt; 新規送信設定（送信設定）</p>
            <h2>新規送信設定（送信設定）</h2>
            <div class="inner pdt15 clearfix">
                <table class="type03" summary="サーチ">
                	<tr>
                    	<th>総件数</th><td>666通</td>
                    	<th>コンテンツ</th><td>モデル</td>
                    	<th>検索条件</th><td>なし</td>
                    </tr>
                </table>
                
                <table class="type01" summary="登録">
                	<tr>
                    	<th>FROM</th>
                        <td><input type="text" name="" id="" class="long" /></td>
                    </tr>
                	<tr>
                    	<th>件名</th>
                        <td><input type="text" name="" id="" class="long" /></td>
                    </tr>
                    <tr>
                    	<th>本文</th>
                        <td><textarea name="" id="" cols="100" rows="10"></textarea></td>
                    </tr>
                    <tr>
                    	<th rowspan="3">送信設定</th>
                    	<td><input type="button" name="" id="" value="戻る" />　<input type="button" name="" id="" value="直ぐに送信する" /></td>
                    </tr>
                    <tr>
                    	<td>
                        	<input type="button" name="" id="" value="メール送信予約" /> 
                            <select>
                        		<option>2010</option>
                        		<option>2011</option>
                        		<option>2012</option>
                            </select> 年
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            	<option>04</option>
                            	<option>05</option>
                            	<option>06</option>
                            	<option>07</option>
                            	<option>08</option>
                            	<option>09</option>
                            	<option>10</option>
                            	<option>11</option>
                            	<option>12</option>
                            </select> 月
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 日
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 時</td>
                    </tr>
                    <tr>
                    	<td class="lh">
                            <input type="button" name="" id="" value="定期送信予約" /><br />
                             <input type="radio" name="" id="" value="" /> 毎月 
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 日
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 時<br />
                             <input type="radio" name="" id="" value="" /> 毎週 
                            <select>
                            	<option>日</option>
                            	<option>月</option>
                            	<option>火</option>
                            </select> 曜日
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 時</td>
                    </tr>
                </table>
                
        </div>
        
        </div>
        <address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
    </div>

</body>
</html>
