<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="loadmodule" content="Shopping.Admin.Login" error="admin/login.html" />
<link rel="stylesheet" type="text/css" href="css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.dropdownPlain.js"></script>
<title>メインメニュー｜モエゲー管理画面</title>
</head>

<body>
<div id="wrap">
	<!-- HEADER -->
	<!--{include file="admin/common/header.html"}-->
	<!-- HEADER END -->
	<div id="contents">
		<p class="pankuzu">メインメニュー</p>
		<h2>メインメニュー</h2>
		<div class="inner clearfix">
			<dl class="main">
				<dt><span>コンテンツ</span></dt>
				<dd class="sub">
					  <ul>
						<li><a href="contents/index.html">作品一覧</a></li>
						<li><a href="contents/item.html">商品一覧</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="main">
				<dt><span>ユーザー</span></dt>
				<dd class="sub">
					  <ul>
						<li><a href="user/index.html">ユーザー</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="main">
				<dt><span>売上</span></dt>
				<dd class="sub">
					  <ul>
						<li><a href="sales/index.html">売上</a></li>
						<li><a href="sales/pay_index.html">支払</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="main">
				<dt><span>メルマガ</span></dt>
				<dd class="sub">
					  <ul>
						<li><a href="magazine/index.html">メルマガメインメニュー</a></li>
						<li><a href="magazine/send.html">新規配信設定</a></li>
						<li><a href="magazine/send_old.html">送信履歴</a></li>
					</ul>
				</dd>
			</dl>
			<dl class="main">
				<dt><span>マスターメンテナンス</span></dt>
				<dd class="sub">
					  <ul>
						<li><a href="maintenance/index.html">販売会社</a></li>
						<li><a href="maintenance/maker.html">メーカー</a></li>
						<li><a href="maintenance/genre.html">ジャンル</a></li>
						<li><a href="maintenance/price.html">コース</a></li>
						<li><a href="maintenance/detail.html">詳細設定</a></li>
					</ul>
				</dd>
			</dl>
			<!--
			<dl class="main">
				<dt><span>メニュー6</span></dt>
				<dd class="sub">
					  <ul>
						<li><a href="">メニュー6-1</a></li>
						<li><a href="">メニュー6-2</a></li>
					</ul>
				</dd>
			</dl>
			-->
		</div>
	</div>
	<address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
</div>
</body>
</html>
