<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8" />
<meta name="loadmodule" content="Base.Operator.Login" error="admin/login.html" />
<!--{include file="admin/common/site_header.html"}-->
<title>メインメニュー｜<!--{$smarty.server.CONFIGURE->site_name}-->管理画面</title>
</head>
<body>
<div data-role="page"> 
<div data-role="header">
<!--{include file="admin/common/header.html"}-->
</div> 
<div data-role="content">
説明が入ります。
</div> 
<div data-role="footer">
<!--{include file="admin/common/footer.html"}-->
</div> 
</body>
</html>
