<!DOCTYPE html> 
<html> 
<head> 
<meta charset="UTF-8" />
<meta name="loadmodule" content="Base.Operator.Logout" />
<!--{include file="admin/common/site_header.html"}-->
<title>ログイン｜<!--{$smarty.server.CONFIGURE->site_name}-->管理画面</title>
</head>
<body>
<div data-role="page"> 
<div data-role="header">
<h1><!--{$CONFIGURE->site_name}--></h1>
</div> 
<div data-role="content">
	<div data-role="fieldcontain">
	<form action="index.html" method="POST">
		<label for="login_id">ログインID</label>
		<input type="text" id="login_id" name="login_id" />
		<label for="password">パスワード</label>
		<input type="text" id="password" name="password" />
	<input type="submit" id="login" name="login" data-icon="arrow-r" value="ログイン" />
	</form>
	</div>
</div> 
<div data-role="footer">
<!--{include file="admin/common/footer.html"}-->
</div> 
</body>
</html>
