@charset "utf-8";

/*
------------------------------------------

CSS Document モエゲーログイン画面

------------------------------------------
*/


body#Login {
	background-color: #FFF;
}

div#wrap.login {
	background: none #FFF;
}
.login #contents {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	margin-left: -300px;
	margin-top: -100px;
}
 
div#wrap #loginbox {
	background: url(../images/common/bg.gif);
}

div#wrap #loginbox h1 {
	float: left;
	width: 131px;
	height: 54px;
	padding: 69px 66px 70px 74px;
	background: url(../images/login/login_rogo.gif) no-repeat 74px 68px;
	text-indent: -9999px;
}
div#wrap #loginbox .loginform {
	float: left;
	width: 328px;
	padding-top: 49px;
}
div#wrap #loginbox .loginform dt {
	float: left;
	clear: left;
	width: 66px;
	margin-right: 21px;
	margin-bottom: 7px;
}
div#wrap #loginbox .loginform dt.id {
	background: url(../images/login/login_id.gif) no-repeat 0 0;
	text-indent: -9999px;
}
div#wrap #loginbox .loginform dt.pass {
	background: url(../images/login/login_pass.gif) no-repeat 0 0;
	text-indent: -9999px;
}
div#wrap #loginbox .loginform dd {
	float: left;
	width: 208px;
	height: 22px;
	margin-bottom: 7px;
}
div#wrap #loginbox .loginform dd input {
	width: 208px;
	height: 20px;
	border: 0 none;
}
div#wrap #loginbox .loginform .loginbtn {
	margin-top: 10px;
	margin-left: 88px;
}