@charset "utf-8";

/*
------------------------------------------

CSS Document モエゲー

------------------------------------------
*/

/*--ResetBrowser--*/
/*---------------------------------------------------------------------------------------*/

body,div,pre,p,blockquote,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,pre,
form,fieldset,input,textarea,select,option,table,th,td,tr,embed,object{
	margin:0;
	padding:0;
}

li{list-style-type:none;}
fieldset,table,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
}
/*\*/
a {
   overflow: hidden;
}
/**/
a:link, a:visited {
	color: #000;
}
a:hover {
  color: #ff6393;
  text-decoration: none;
}
img, fieldset {
	vertical-align: bottom;
}
object, embed {
	vertical-align: top;
}
legend {
	display: none;
}
th, td {
	vertical-align: top;
	font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 400;
}
strong {
	font-weight: bold;
}
textarea {
	font-family:'ヒラギノ角ゴPro W3','Hiragino Kaku Gothic Pro','ＭＳＰゴシック','メイリオ',Meiryo,sans-serif;
	font-size: 12px;
	line-height: 22px;
}

/*---------------------------------------------------------------------------------------*/
