<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" type="text/css" href="../css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.dropdownPlain.js"></script>
<title>支払詳細｜モエゲー管理画面</title>
</head>

<body>
	<div id="wrap">
    	<div id="header" class="clearfix">
        	<h1>モエゲー管理システム</h1>            <ul class="dropdown">
            	<li class="li01"><a href="../contents/index.html">コンテンツ</a>
                	<ul class="submenu">
                            <li><a href="../contents/index.html">作品一覧</a></li>
                            <li><a href="../contents/item.html">商品一覧</a></li>
                    </ul></li>
            	<li class="li02"><a href="../user/index.html">ユーザー</a>
                	<ul class="submenu">
                            <li><a href="../user/index.html">ユーザー</a></li>
                    </ul></li>
            	<li class="li03"><a href="../sales/index.html">売上</a>
                	<ul class="submenu">
                            <li><a href="../sales/index.html">売上</a></li>
                            <li><a href="../sales/pay_index.html">支払</a></li>
                    </ul></li>
            	<li class="li04"><a href="../magazine/index.html">メルマガ</a>
                	<ul class="submenu">
                            <li><a href="../magazine/index.html">メルマガメイン</a></li>
                            <li><a href="../magazine/send.html">新規配信設定</a></li>
                            <li><a href="../magazine/send_old.html">送信履歴</a></li>
                    </ul></li>
            	<li class="li05"><a href="../maintenance/index.html">マスターメンテナンス</a>
                	<ul class="submenu">
                            <li><a href="../maintenance/index.html">販売会社</a></li>
                            <li><a href="../maintenance/maker.html">メーカー</a></li>
                            <li><a href="../maintenance/genre.html">ジャンル</a></li>
                            <li><a href="../maintenance/price.html">コース</a></li>
                            <li><a href="../maintenance/detail.html">詳細設定</a></li>
                    </ul></li>
            </ul>
            <input type="image" src="../images/common/btn_logout.gif" alt="ログアウト" width="73" height="22" />
        </div>
        <div id="contents">
        	<p class="pankuzu"><a href="../index.html">メインメニュー</a> &gt; <a href="index.html">売上</a> &gt; 支払詳細</p>
            <h2>【売上・支払管理】 支払詳細</h2>
            <div class="inner pdt15 clearfix">
                <h3>2010年1月15日</h3>
                <table class="type02" summary="一覧">
                	<tr>
                   		<th class="w10">ユーザー</th>
                    	<th class="w10">コンテンツ</th>
                    	<th class="w10">サービス形態</th>
                    	<th class="w10">作品名</th>
                    	<th class="w10">商品名</th>
                    	<th class="w10">販売金額</th>
                    	<th class="w10">決済手数料</th>
                    	<th class="w10">売上</th>
                    	<th class="w10">コンテンツ利益</th>
                    	<th class="w10 end">粗利益</th>
                	</tr>
                    <tr>
                    	<td>ndoa135ha</td>
                    	<td>モエゲー</td>
                    	<td>softbank公式</td>
                    	<td>作品名作品名作品名</td>
                    	<td>商品名商品名商品名商品名商品名</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    </tr>
                    <tr>
                    	<td>ndoa135ha</td>
                    	<td>モエゲー</td>
                    	<td>softbank公式</td>
                    	<td>作品名作品名作品名</td>
                    	<td>商品名商品名商品名商品名商品名</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    </tr>
                    <tr>
                    	<td colspan="5" class="aln_r">合計</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    	<td class="aln_r">10000</td>
                    </tr>
                
                </table>
        </div>
        
        </div>
        <address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
    </div>

</body>
</html>
