<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="loadmodule" content="Shopping.Admin.Login" error="admin/login.html" />
<!--{include file="admin/common/site_header.html"}-->
<title>システムメンテ｜<!--{$smarty.server.CONFIGURE->site_name}-->管理画面</title>
</head>

<body>
<div id="wrap">
	<!-- HEADER -->
	<!--{include file="admin/common/header.html"}-->
	<!-- HEADER END -->
	<div id="contents">
		<p class="pankuzu"><a href="/admin/index.html">メインメニュー</a> &gt; システムメンテ</p>
		<h2>システムメンテナンスメニュー</h2>

		<div class="inner clearfix">
			<div>ベースシステムの根幹部分を管理するための機能です。</div>
			<dl class="main">
				<dd class="sub">
					<ul>
						<li><a href="system/site/index.html">サイト</a></li>
						<li><a href="system/company/index.html">管理組織／オペレータ</a></li>
						<li><a href="system/email/index.html">メールテンプレート</a></li>
						<li><a href="system/domain/index.html">モバイルドメイン</a></li>
						<li><a href="system/zip/index.html">郵便番号／都道府県</a></li>
						<li><a href="system/update/index.html">システムアップデート</a></li>
					</ul>
				</dd>
			</dl>
		</div>
	</div>
	<!-- FOOTER -->
	<!--{include file="admin/common/footer.html"}-->
	<!-- FOOTER END -->
</div>
</body>
</html>
