<!--Navi-->
<div style="background:#e8e8e8;margin:5px 0;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<div style="margin-bottom:5px;">
<!--{emoji code="132"}--><a href="<!--{$u}-->/mypage/index.html" accesskey="8">ﾏｲﾍﾟｰｼﾞ</a>&nbsp;
<!--{emoji code="134"}--><a href="<!--{$u}-->/index.html" accesskey="0">ﾎｰﾑ</a>&nbsp;
<!--{emoji code="133"}--><a href="#top" accesskey="9">ﾍﾟｰｼﾞ上へ</a><br />
<!--{emoji code="78"}--><a href="<!--{$u}-->/game_list.html">ｹﾞｰﾑ</a>&nbsp;
<!--{emoji code="137"}--><a href="<!--{$u}-->/image_list.html">待ち受け</a>&nbsp;
<!--{emoji code="57"}--><a href="<!--{$u}-->/voice_list.html">ﾎﾞｲｽ</a><br />
<!--{emoji code="206"}--><a href="<!--{$u}-->/character_list.html">ｷｬﾗｸﾀｰ</a>&nbsp;
<!--{emoji code="119"}--><a href="<!--{$u}-->/keyword_list.html">ｷｰﾜｰﾄﾞ</a>&nbsp;
<!--{emoji code="76"}--><a href="<!--{$u}-->/about/sitemap.html">ｻｲﾄﾏｯﾌﾟ</a>
</div>
<!--Navi END-->


<!--おすすめｻｲﾄ-->
<!--
<div style="color:#FFF;background:#ff6393;">
<!--{emoji code="204"}-->おすすめｻｲﾄ
</div>

<div style="background:#ebfdff;margin-bottom:5px;">
おもしろ楽しいｺﾝﾃﾝﾂ
</div>
<div>
<a href="#">ｻｲﾄ名が入ります</a>&nbsp;<a href="#">ｻｲﾄ名です</a><br />
<a href="#">ｻｲﾄ名が入ります</a>
</div>

<div style="background:#ebfdff;margin:5px 0;">
ｹｰﾀｲで楽々お買い物
</div>
<div>
<a href="#">ｻｲﾄ名が入ります</a>&nbsp;<a href="#">ｻｲﾄ名です</a><br />
<a href="#">ｻｲﾄ名が入ります</a>
</div>

<div style="background:#ebfdff;margin:5px 0;">
ｹｰﾀｲでお小遣い稼ぎ!
</div>
<div>
<a href="#">ｻｲﾄ名が入ります</a>&nbsp;<a href="#">ｻｲﾄ名</a><br />
<a href="#">ｻｲﾄ名が入ります</a>
</div>
-->
<!--おすすめｻｲﾄEND-->

<!--Copyright-->
<div style="color:#FFF;background:#00c9e1;text-align:center;margin-top:5px;">
&copy;2011&nbsp;モエゲー
</div>
<!--Copyright END-->
