<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Shopping.Category.List" item="10" type="2" result="characters" />
<!--{assign var="shopping_type" value=$smarty.server.CONFIGURE.SITE.shopping_type}-->
<title>ｷｬﾗｸﾀｰ一覧 ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">ｷｬﾗｸﾀｰ一覧</a>
</h1>
<div style="background:#ebfdff;"><a href="index.html">ﾓｴｹﾞｰ</a> &gt; ｷｬﾗｸﾀｰ一覧</div>
<!--HEADER END-->

<!--CONTENT-->

<div style="margin:5px 0;">
<!--{$ATTRIBUTES.characters.totalItems}-->件中 <!--{$ATTRIBUTES.characters.from}-->-<!--{$ATTRIBUTES.characters.to}-->件目
</div>

<div style="background:#e8e8e8;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<!--{foreach from=$ATTRIBUTES.characters.data key="index" item="category"}-->
<div style="<!--{if $index % 2 == 1}-->background:#ffe5f0;<!--{/if}-->padding:5px 0;">
<!--
<img src="<!--{$category->category_image|default:"img/item_dummy04.jpg"}-->" width="57" height="57" style="float:left;margin-right:5px;" />
-->
◆<a href="character.html?category2=<!--{$category->category_id}-->" style="color:#ff6393;"><!--{$category->category_name}--></a><br />
<!--{$category->description}--><br style="clear:left;" />
</div>
<!--{/foreach}-->

<div style="background:#e8e8e8;margin:5px 0;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<div style="text-align:center;">
<!--{if $ATTRIBUTES.characters.links_object.back != ""}-->
<!--{$ATTRIBUTES.characters.links_object.first}--><!--{$ATTRIBUTES.characters.links_object.back}-->[*] 
<!--{/if}-->
<!--{$ATTRIBUTES.characters.links_object.pages}-->
<!--{if $ATTRIBUTES.characters.links_object.next != ""}-->
[#]<!--{$ATTRIBUTES.characters.links_object.next}--><!--{$ATTRIBUTES.characters.links_object.last}-->
<!--{/if}-->
</div>

<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>