<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Shopping.Category.Detail" type="2" result="character" />
<!--{assign var="shopping_type" value=$smarty.server.CONFIGURE.SITE.shopping_type}-->
<!--{assign var="character" value=$ATTRIBUTES.character}-->
<title><!--{$character->category_name}-->｜ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top"><!--{$character->category_name|escape}--></a>
</h1>
<div style="background:#ebfdff;"><a href="index.html">ﾓｴｹﾞｰ</a> &gt; <a href="character_list.html">ｷｬﾗ一覧</a> &gt; <!--{$character->category_name|escape}--></div>
<!--HEADER END-->

<!--CONTENT-->
<!--
<div style="text-align:center;">
<img src="<!--{$character->category_image|default:"img/item_dummy03.jpg"}-->" width="240" height="155" style="margin-top:5px;" />
</div>
-->
<!--{assign var="products" value=$character->productsPage(array())}-->

<div style="margin:5px 0;">
<!--{$products.totalItems}-->件中 <!--{$products.from}-->-<!--{$products.to}-->件目
</div>

<div style="background:#e8e8e8;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<!--{foreach from=$products.data key="index" item="product_tmp"}-->
<!--{assign var="product" value=$product_tmp->product()}-->
<!--{assign var="product_type" value=$product->category("1")->category()}-->
<!--{assign var="character" value=$product->category("2")->category()}-->
<!--{if $product_type->category_id == "1"}-->
<div style="<!--{if $index % 2 == 1}-->background:#ffe5f0;<!--{/if}-->padding:5px 0;">
<img src="<!--{$product->image($shopping_type)->list_image|default:"img/item_dummy01.jpg"}-->" width="55" height="70" style="float:left;margin-right:5px;" />
<a href="game.html?product_id=<!--{$product->product_id}-->" style="color:#ff6393;"><!--{$product->product_name|escape}--></a><br />
<!--{$product->list_comment|escape|nl2br}--><br style="clear:left;" />
</div>
<!--{/if}-->
<!--{if $product_type->category_id == "2"}-->
<div style="<!--{if $index % 2 == 1}-->background:#ffe5f0;<!--{/if}-->padding:5px 0;">
<img src="<!--{$product->image($shopping_type)->list_image|default:"img/item_dummy01.jpg"}-->" width="55" height="70" style="float:left;margin-right:5px;" />
<a href="image.html?product_id=<!--{$product->product_id}-->" style="color:#ff6393;"><!--{$product->product_name|escape}--></a><br />
<!--{$product->list_comment|escape|nl2br}--><br style="clear:left;" />
</div>
<!--{/if}-->
<!--{if $product_type->category_id == "3"}-->
<div style="<!--{if $index % 2 == 1}-->background:#ffe5f0;<!--{/if}-->padding:5px 0;">
<img src="<!--{$product->image($shopping_type)->list_image|default:"img/icon_voice.gif"}-->" width="55" height="70" style="float:left;margin-right:5px;" />
<a href="voice.html?product_id=<!--{$product->product_id}-->" style="color:#ff6393;"><!--{$character->category_name|escape}-->「<!--{$product->product_name|escape}-->」</a><br style="clear:left;" />
</div>
<!--{/if}-->
<!--{/foreach}-->

<div style="background:#e8e8e8;margin:5px 0;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<div style="text-align:center;">
<!--{if $products.links_object.back != ""}-->
<!--{$products.links_object.first}--><!--{$products.links_object.back}-->[*] 
<!--{/if}-->
<!--{$products.links_object.pages}-->
<!--{if $products.links_object.next != ""}-->
[#]<!--{$products.links_object.next}--><!--{$products.links_object.last}-->
<!--{/if}-->
</div>

<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>