<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Members.MobileAutoLogin" />
<meta name="loadmodule" content="Members.Types" />
<meta name="loadmodule" content="Shopping.Product.Detail" />

<!--{assign var="shopping_type" value=$smarty.server.CONFIGURE.SITE.shopping_type}-->
<!--{assign var="product" value=$ATTRIBUTES.product}-->
<!--{assign var="character" value=$product->category("2")->category()}-->
<!--{assign var="keyword" value=$product->category("3")->category()}-->

<title><!--{$character->category_name}-->「<!--{$product->product_name|escape}-->」｜ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top"><!--{$product->product_name|escape}--></a>
</h1>
<div style="background:#ebfdff;"><a href="index.html">ﾓｴｹﾞｰ</a> &gt; <a href="image_list.html">待受一覧</a> &gt; <!--{$product->product_name|escape}--></div>
<!--HEADER END-->

<!--CONTENT-->
<div style="color:#ffae00;text-align:center;margin-bottom:10px;">
<img src="<!--{$product->image($shopping_type)->detail_image|default:"img/item_dummy02.jpg"}-->" width="240" height="320" style="margin-bottom:5px;" /><br />
●待ち受けﾌｧｲﾙ●
</div>

<div style="margin-bottom:10px;">
<!--{$product->detail_comment|escape|nl2br}-->
</div>

<!--{foreach from=$product->children() item="child"}-->
<div style="margin-bottom:10px;">
<!--{$child->sale_price|default:$child->price|number_format}-->pt/<!--{$child->price|number_format}-->円<br />
ﾌｧｲﾙｻｲｽﾞ : <!--{$child->deliv_fee|number_format}-->kb
</div>

<div style="margin-bottom:5px;">
<span style="color:#ff6393;">●</span><a href="download.html?regist=1&product_id=<!--{$child->product_id}-->">購入する</a><br />
</div>
<!--{/foreach}-->

<div style="color:#FFF;background:#00c9e1;margin-bottom:5px;">
お得な月額会員登録はコチラ
</div>
<!--{foreach from=$ATTRIBUTES.customer_types item="type"}-->
<div style="margin-top:10px;">
<span style="color:#ff6393;">●</span><a href="payment.html?mode=type&type=<!--{$type->type_id}-->&price=<!--{$type->init_price}-->"><!--{$type->type_name|escape}-->に登録</a><br />
$FT毎月<!--{$type->point|number_format}-->pt付与!$E25
</div>
<!--{/foreach}-->

<div style="color:#FFF;background:#00c9e1;margin-bottom:5px;">
関連ﾘﾝｸ
</div>

<div style="margin-bottom:10px;">
ｷｬﾗｸﾀｰ : <a href="character.html?category2=<!--{$character->category_id}-->"><!--{$character->category_name}--></a><br />
ｷｰﾜｰﾄﾞ : <a href="keyword.html?category3=<!--{$keyword->category_id}-->"><!--{$keyword->category_name}--></a>
</div>

<div>
利用規約を必ずお読みいただき、ご承諾いただけましたら購入して下さい。
</div>

<div>
<span style="color:#ff6393;">●</span><a href="#">ご利用規約</a><span style="color:#ff6393;">(必読)</span><br />
<span style="color:#ff6393;">●</span><a href="#">通信料の目安</a><span style="color:#ff6393;">
</div>
<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>