<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Members.MobileAutoLogin" auto="1" redirect="index.html" />
<title>クレジットカード決済</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top"><!--{if $INPUT.mode == "type"}-->会員登録<!--{/if}--><!--{if $INPUT.mode == "point"}-->ポイント購入<!--{/if}-->クレジットカード決済</a>
</h1>
<div style="background:#ebfdff;"><a href="/">ﾓｴｹﾞｰ</a> &gt; <!--{if $INPUT.mode == "type"}-->会員登録<!--{/if}--><!--{if $INPUT.mode == "point"}-->ポイント購入<!--{/if}--></div>
<!--HEADER END-->

<!--CONTENT-->
<div class="title">決済方法を選択してください。</div>
<div style="margin-top:10px;">
<FORM METHOD="POST" ACTION="https://credit.zeroweb.ne.jp/cgi-bin/order.cgi" TARGET="_top">
<INPUT TYPE="hidden" NAME="clientip" VALUE="1011001581">
<INPUT TYPE="hidden" NAME="act" VALUE="imode">
<INPUT TYPE="hidden" NAME="money" VALUE="<!--{$INPUT.price}-->">
<INPUT TYPE="hidden" NAME="sendid" VALUE="<!--{$ATTRIBUTES.customer->customer_id}-->">
<INPUT TYPE="hidden" NAME="sendpoint" VALUE="<!--{$INPUT.mode}-->-<!--{if $INPUT.mode == "type"}--><!--{$INPUT.type}--><!--{/if}--><!--{if $INPUT.mode == "point"}--><!--{$INPUT.point}--><!--{/if}-->">
<INPUT TYPE="submit" VALUE="クレジットカード">
</FORM>
<!--{if $INPUT.mode != "type"}-->
<FORM METHOD="POST" ACTION="https://credit.zeroweb.ne.jp/cgi-bin/ebank.cgi" TARGET="_top">
<INPUT TYPE="hidden" NAME="clientip" VALUE="1081001114">
<INPUT TYPE="hidden" NAME="act" VALUE="mobile_order">
<INPUT TYPE="hidden" NAME="money" VALUE="<!--{$INPUT.price}-->">
<INPUT TYPE="hidden" NAME="sendid" VALUE="<!--{$ATTRIBUTES.customer->customer_id}-->">
<INPUT TYPE="hidden" NAME="sendpoint" VALUE="<!--{$INPUT.mode}-->-<!--{if $INPUT.mode == "type"}--><!--{$INPUT.type}--><!--{/if}--><!--{if $INPUT.mode == "point"}--><!--{$INPUT.point}--><!--{/if}-->">
<INPUT TYPE="submit" VALUE="入金おまかせ">
</FORM>
<FORM METHOD="POST" ACTION="https://credit.zeroweb.ne.jp/cgi-bin/edy.cgi" TARGET="_top">
<INPUT TYPE="hidden" NAME="clientip" VALUE="1101000353">
<INPUT TYPE="hidden" NAME="act" VALUE="mobile_order">
<INPUT TYPE="hidden" NAME="money" VALUE="<!--{$INPUT.price}-->">
<INPUT TYPE="hidden" NAME="sendid" VALUE="<!--{$ATTRIBUTES.customer->customer_id}-->">
<INPUT TYPE="hidden" NAME="sendpoint" VALUE="<!--{$INPUT.mode}-->-<!--{if $INPUT.mode == "type"}--><!--{$INPUT.type}--><!--{/if}--><!--{if $INPUT.mode == "point"}--><!--{$INPUT.point}--><!--{/if}-->">
<INPUT TYPE="submit" VALUE="Edy">
</FORM>
<!--{/if}-->
</div>
<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>