<meta name="loadmodule" content="Members.CustomerIdLogin" key="sendid" />
<meta name="loadmodule" content="Members.ZeroComplete" client="1011001581" result_key="result" result_value="ok" />
<meta name="loadmodule" content="Members.ZeroComplete" client="1081001114" result_key="status" result_value="03" />
<meta name="loadmodule" content="Members.ZeroComplete" client="1101000353" result_key="status" result_value="04" />
<meta name="loadmodule" content="Members.SetType" />
<meta name="loadmodule" content="Members.AddPoint" />
OK