<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Shopping.Product.Ranking" category="1" />
<!--{assign var="shopping_type" value=$smarty.server.CONFIGURE.SITE.shopping_type}-->
<title>Hな萌ﾌﾗｯｼｭｹﾞｰﾑﾗﾝｷﾝｸﾞ ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">Hな萌ﾌﾗｯｼｭｹﾞｰﾑﾗﾝｷﾝｸﾞ</a>
</h1>
<div style="background:#ebfdff;"><a href="index.html">ﾓｴｹﾞｰ</a> &gt; Hな萌ﾌﾗｯｼｭｹﾞｰﾑﾗﾝｷﾝｸﾞ</div>
<!--HEADER END-->

<!--CONTENT-->
<!--{foreach from=$ATTRIBUTES.rankings.data key="index" item="detail"}-->
<!--{assign var="product" value=$detail->productOption()->product()}-->
<!--{math assign="rank" equation="x + y" x=$ATTRIBUTES.rankings.from y=$index}-->
<div style="<!--{if $index % 2 == 1}-->background:#ffe5f0;<!--{/if}-->padding:5px 0;">
<img src="<!--{$product->image($shopping_type)->list_image|default:"img/item_dummy01.jpg"}-->" width="55" height="70" style="float:left;margin-right:5px;" />
<!--{if $rank <= 3}--><!--{emoji code="191"}-->NO.<!--{$rank}--><!--{emoji code="191"}--><!--{else}--><span color="ffae00">★</span>NO.<!--{$rank}--><span color="ffae00">★</span><!--{/if}--><a href="game.html?product_id=<!--{$product->product_id}-->" style="color:#ff6393;"><!--{$product->product_name|escape}--></a><br />
<!--{$product->list_comment|escape|nl2br}--><br style="clear:left;" />
</div>
<!--{/foreach}-->

<!--{if $ATTRIBUTES.rankings.link_object.back != "" || $ATTRIBUTES.rankings.link_object.next != ""}-->
<div style="background:#e8e8e8;margin:5px 0;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<div style="color:#e8e8e8;text-align:center;">
<!--{$ATTRIBUTES.rankings.links_object.next}--><!--{if $ATTRIBUTES.rankings.link_object.back != "" && $ATTRIBUTES.rankings.link_object.next != ""}-->｜<!--{/if}--><!--{$ATTRIBUTES.rankings.links_object.back}-->
</div>
<!--{/if}-->

<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>