<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Members.MobileAutoLogin" auto="1" redirect="index.html" />
<meta name="loadmodule" content="Shopping.Product.List" item="10" category="4" result="points" />
<title>ﾏｲﾍﾟｰｼﾞ ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">ﾏｲﾍﾟｰｼﾞ</a>
</h1>
<div style="background:#ebfdff;"><a href="../index.html">ﾓｴｹﾞｰ</a> &gt; ﾏｲﾍﾟｰｼﾞ</div>
<!--HEADER END-->

<!--CONTENT-->
<div style="margin-top:10px;">
ポイントが不足しています。
</div>

<div style="margin-top:10px;">
現在のﾎﾟｲﾝﾄ：<!--{$ATTRIBUTES.customer->point|number_format}-->ﾎﾟｲﾝﾄ
</div>

<!--{foreach from=$ATTRIBUTES.points.data key="index" item="product"}-->
<span style="color:#ff6393;">●</span><a href="add_point.html?regist=1&product_id=<!--{$product->product_id}-->"><!--{$product->product_name|escape}--></a><br />
<!--{/foreach}-->
　ﾎﾟｲﾝﾄの追加購入は<a href="/mypage/point.html">ｺﾁﾗ</a>
</div>

<!--CONTENT END-->

<!--FOOTERｰ-->
<!--{include file="common/footer.html"}-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>