<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<!-- モジュール呼び出し用のメタタグ -->
<meta name="loadmodule" content="Members.MobileAutoLogin" auto="1" />
<meta name="loadmodule" content="Shopping.Product.New" item="7" category1="1" result="new_products" />
<meta name="loadmodule" content="Shopping.Product.List" item="5" category1="1" result="cool_games" />
<meta name="loadmodule" content="Shopping.Product.List" item="5" category1="2" result="cool_images" />
<meta name="loadmodule" content="Shopping.Product.List" item="5" category1="3" category2="" result="cool_voices" />
<meta name="loadmodule" content="Shopping.Category.List" item="20" type="2" result="characters" />
<meta name="loadmodule" content="Shopping.Category.List" item="20" type="3" result="keywords" />
<title>モエゲー</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">★美少女ゲーム配信★</a>
</h1>
<div>
<img src="img/h_top01.gif" width="240" height="96" />
</div>
<!--HEADER END-->

<!--Marquee-->
<div style="color:#ff6393;display:-wap-marquee;">
総合萌アニメゲームサイト★毎日更新中★ボイスは毎日更新!!
</div>
<!--Marquee END-->

<!--ｻｲﾄ説明-->
<div style="background:#ebfdff;padding:5px 0;">
Hな萌ﾌﾗｯｼｭ、ｴﾛﾌﾗ、ぷるぷる美少女、ｴﾛﾎﾞｲｽ、あえぎ声、たくさんﾀﾞｳﾝﾛｰﾄﾞできるよ!
</div>
<!--ｻｲﾄ説明END-->

<!--ﾅﾋﾞｹﾞｰｼｮﾝ-->
<div style="background:#ebfdff;text-align:center;padding-bottom:5px;">
$Gw<a href="entry/index.html">会員登録</a>　$OF<a href="#">お気に入り登録</a><br />
<!--{emoji code="1"}--><a href="new_games.html" accesskey="1">新着</a>　<!--#include virtual="/trans.php?emoji=1" --><a href="#search" accesskey="2">検索</a>　<!--#include virtual="/trans.php?emoji=1"--><a href="ranking_games.html" accesskey="3">ﾗﾝｷﾝｸﾞ</a>
</div>
<!--ﾅﾋﾞｹﾞｰｼｮﾝEND-->

<!--ﾌﾟﾚｾﾞﾝﾄ-->
<div style="color:#FFF;background:#ff6393;">
<img src="img/h_top02.gif" width="110" height="43" style="float:left;margin-right:5px;" />
<img src="img/sp.gif" width="1" height="5" /><br />500円以上のｺｰｽでﾎﾞｰﾅｽﾌﾟﾚｾﾞﾝﾄ!<br style="clear:left;" />
</div>
<!--ﾌﾟﾚｾﾞﾝﾄEND-->

<!--新着ｹﾞｰﾑ-->
<div>
<img src="img/h_top03.gif" width="240" height="37" />
</div>

<!--{foreach from=$ATTRIBUTES.new_products.data key="index" item="product"}-->
<div style="<!--{if $index % 2 == 0}-->background:#ffe5f0;<!--{/if}-->padding:5px 0;">
<img src="<!--{$product.list_image|default:"img/item_dummy01.jpg"}-->" width="55" height="70" style="float:left;margin-right:5px;" />
$ON<a href="game.html?product_id=<!--{$product.product_id}-->" style="color:#ff6393;"><!--{$product.product_name|escape}--></a><br />
<!--{$product.list_comment|escape|nl2br}--><br style="clear:left;" />
</div>
<!--{/foreach}-->
<div style="text-align:right;margin:5px 0;">
<a href="new_games.html">Hな萌ﾌﾗｯｼｭ一覧へ</a>
</div>
<!--新着ｹﾞｰﾑEND-->

<!--新着ｴﾛﾎﾞｲｽ-->
<div style="font-size:medium;color:#FFF;background:#00c9e1;">
$G^ｵｽｽﾒ!ｴﾛﾎﾞｲｽ
</div>

<!--{foreach from=$ATTRIBUTES.cool_voices.data key="index" item="product"}-->
<div style="<!--{if $index % 2 == 0}-->background:#ebfdff;<!--{/if}-->padding:5px 0;">
<img src="<!--{$product.list_image|default:"img/icon_dummy01.jpg"}-->" width="20" height="20" style="float:left;margin-right:5px;" />
<a href="voice.html?product_id=<!--{$product.product_id}-->"><!--{$product.product_name|escape}--></a><br style="clear:left;" />
</div>
<!--{/foreach}-->

<div style="text-align:right;margin:5px 0;">
<a href="ranking_voices.html">ｴﾛﾎﾞｲｽ一覧へ</a>
</div>
<!--新着ｴﾛﾎﾞｲｽEND-->

<!--ｵｽｽﾒｻｲﾄ-->
<div style="font-size:medium;color:#FFF;background:#ff6393;">
厳選ｵｽｽﾒｴﾛｱﾆﾒｻｲﾄ!
</div>

<div style="text-align:center;margin:5px 0;">
<a href="#"><img src="img/bnr_dummy.gif" width="111" height="41" border="0" /></a>&nbsp;<a href="#"><img src="img/bnr_dummy.gif" width="111" height="41" border="0" /></a>
</div>
<!--ｵｽｽﾒｻｲﾄ-->

<div style="text-align:right;margin:5px 0;">
<a href="keyword_list.html">萌ｷｰﾜｰﾄﾞ一覧へ</a>
</div>

<div>
<a href="about/privacy.html">ﾌﾟﾗｲﾊﾞｼｰﾎﾟﾘｼｰ</a><br />
<a href="#">通信量の目安</a><br />
<a href="about/company.html">運営会社</a>
</div>

</div>
<!--WRAP END-->
</body>
</html>