<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="pragma" content="no-cache" />
<meta http-equiv="cache-control" content="no-cache" />
<meta http-equiv="expires" content="-1" />
<meta name="description" content="ﾓｴｹﾞｰ" />
<meta name="keywords" content="ﾓｴｹﾞｰ" />
<meta name="robots" content="index,follow" />
<title>退会確認 ﾓｴｹﾞｰ</title>
<style type="text/css">
	<![CDATA[
			a:link{color:#00c9e1;}
			a:focus{color:#FFF;}
			a:visited{color:#00c9e1;}
	]]>
</style>
</head>
<body>

<!--WRAP-->
<div style="font-size:xx-small;">

<!--HEADER-->
<h1 style="font-size:xx-small;font-weight:normal;color:#FFF;background:#00c9e1;text-align:center;margin:0;">
<a id="top" name="top">退会確認</a>
</h1>
<div style="background:#ebfdff;"><a href="#">ﾓｴｹﾞｰ</a> &gt; 退会確認</div>
<!--HEADER END-->

<!--CONTENT-->
<div style="margin-top:10px;">
(未確認ﾍﾟｰｼﾞです)
</div>

<div style="text-align:center;margin-top:10px;">
<a href="#">退会</a>
</div>
<!--CONTENT END-->

<!--FOOTERｰ-->
<!--Navi-->
<div style="background:#e8e8e8;margin:5px 0;">
<img src="img/sp.gif" width="1" height="1" />
</div>

<div style="margin-bottom:5px;">
$FC<a href="#" accesskey="8">ﾏｲﾍﾟｰｼﾞ</a>&nbsp;$FE<a href="index.html" accesskey="0">ﾎｰﾑ</a>&nbsp;	$FD<a href="#top" accesskey="9">ﾍﾟｰｼﾞ上へ</a><br />
$EK<a href="#">ｹﾞｰﾑ</a>&nbsp;$OG<a href="#">待ち受け</a>&nbsp;$O7<a href="#">ﾎﾞｲｽ</a><br />
$P%<a href="#">ｷｬﾗｸﾀｰ</a>&nbsp;$E4<a href="#">ｷｰﾜｰﾄﾞ</a>&nbsp;	$O!<a href="#">ｻｲﾄﾏｯﾌﾟ</a>
</div>
<!--Navi END-->

<!--おすすめｻｲﾄ-->
<div style="color:#FFF;background:#ff6393;">
$G.おすすめｻｲﾄ
</div>

<div style="background:#ebfdff;margin-bottom:5px;">
おもしろ楽しいｺﾝﾃﾝﾂ
</div>
<div>
<a href="#">ｻｲﾄ名が入ります</a>&nbsp;<a href="#">ｻｲﾄ名です</a><br />
<a href="#">ｻｲﾄ名が入ります</a>
</div>

<div style="background:#ebfdff;margin:5px 0;">
ｹｰﾀｲで楽々お買い物
</div>
<div>
<a href="#">ｻｲﾄ名が入ります</a>&nbsp;<a href="#">ｻｲﾄ名です</a><br />
<a href="#">ｻｲﾄ名が入ります</a>
</div>

<div style="background:#ebfdff;margin:5px 0;">
ｹｰﾀｲでお小遣い稼ぎ!
</div>
<div>
<a href="#">ｻｲﾄ名が入ります</a>&nbsp;<a href="#">ｻｲﾄ名</a><br />
<a href="#">ｻｲﾄ名が入ります</a>
</div>
<!--おすすめｻｲﾄEND-->

<!--Copyright-->
<div style="color:#FFF;background:#00c9e1;text-align:center;margin-top:5px;">
&copy;2010&nbsp;モエゲー
</div>
<!--Copyright END-->
<!--FOOTER END-->

</div>
<!--WRAP END-->
</body>
</html>