<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" type="text/css" href="../css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.dropdownPlain.js"></script>
<title>販売会社一覧｜マスターメンテナンス｜モエゲー管理画面</title>
</head>

<body>
	<div id="wrap">
    	<div id="header" class="clearfix">
        	<h1>モエゲー管理システム</h1>            <ul class="dropdown">
            	<li class="li01"><a href="../contents/index.html">コンテンツ</a>
                	<ul class="submenu">
                            <li><a href="../contents/index.html">作品一覧</a></li>
                            <li><a href="../contents/item.html">商品一覧</a></li>
                    </ul></li>
            	<li class="li02"><a href="../user/index.html">ユーザー</a>
                	<ul class="submenu">
                            <li><a href="../user/index.html">ユーザー</a></li>
                    </ul></li>
            	<li class="li03"><a href="../sales/index.html">売上</a>
                	<ul class="submenu">
                            <li><a href="../sales/index.html">売上</a></li>
                            <li><a href="../sales/pay_index.html">支払</a></li>
                    </ul></li>
            	<li class="li04"><a href="../magazine/index.html">メルマガ</a>
                	<ul class="submenu">
                            <li><a href="../magazine/index.html">メルマガメイン</a></li>
                            <li><a href="../magazine/send.html">新規配信設定</a></li>
                            <li><a href="../magazine/send_old.html">送信履歴</a></li>
                    </ul></li>
            	<li class="li05"><a href="../maintenance/index.html">マスターメンテナンス</a>
                	<ul class="submenu">
                            <li><a href="../maintenance/index.html">販売会社</a></li>
                            <li><a href="../maintenance/maker.html">メーカー</a></li>
                            <li><a href="../maintenance/genre.html">ジャンル</a></li>
                            <li><a href="../maintenance/price.html">コース</a></li>
                            <li><a href="../maintenance/detail.html">詳細設定</a></li>
                    </ul></li>
            </ul>
            <input type="image" src="../images/common/btn_logout.gif" alt="ログアウト" width="73" height="22" />
        </div>
        <div id="contents">
        	<p class="pankuzu"><a href="../index.html">メインメニュー</a> &gt; 販売会社一覧</p>
            <h2>【マスターメンテナンス】販売会社一覧</h2>
            <div class="inner pdt15 clearfix">
            	<p class="add"><a href="regest_comp.html">新規販売会社登録</a></p>
                <table class="type03" summary="サーチ">
                    <tr>
                    	<th>販売会社名</th><td><input type="text" name="" id="" class="middle" /></td>
                    	<th>都道府県（住所）</th><td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                    <tr>
                    	<th>部署・役職</th><td><input type="text" name="" id="" class="middle" /></td>
                    	<th>担当者</th><td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                    <tr>
                    	<th>担当電話</th><td><input type="text" name="" id="" class="middle" /></td>
                    	<th>担当メールアドレス</th><td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                    <tr>
                    	<th>登録日</th>
                        <td colspan="3"><select>
                        		<option>2010</option>
                        		<option>2011</option>
                        		<option>2012</option>
                            </select> 年
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            	<option>04</option>
                            	<option>05</option>
                            	<option>06</option>
                            	<option>07</option>
                            	<option>08</option>
                            	<option>09</option>
                            	<option>10</option>
                            	<option>11</option>
                            	<option>12</option>
                            </select> 月
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 日 ～　
                            <select>
                        		<option>2010</option>
                        		<option>2011</option>
                        		<option>2012</option>
                            </select> 年
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            	<option>04</option>
                            	<option>05</option>
                            	<option>06</option>
                            	<option>07</option>
                            	<option>08</option>
                            	<option>09</option>
                            	<option>10</option>
                            	<option>11</option>
                            	<option>12</option>
                            </select> 月
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 日 </td>
                    </tr>
                    <tr>
                    	<th class="end">更新日</th>
                        <td colspan="3"><select>
                        		<option>2010</option>
                        		<option>2011</option>
                        		<option>2012</option>
                            </select> 年
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            	<option>04</option>
                            	<option>05</option>
                            	<option>06</option>
                            	<option>07</option>
                            	<option>08</option>
                            	<option>09</option>
                            	<option>10</option>
                            	<option>11</option>
                            	<option>12</option>
                            </select> 月
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 日 ～　
                            <select>
                        		<option>2010</option>
                        		<option>2011</option>
                        		<option>2012</option>
                            </select> 年
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            	<option>04</option>
                            	<option>05</option>
                            	<option>06</option>
                            	<option>07</option>
                            	<option>08</option>
                            	<option>09</option>
                            	<option>10</option>
                            	<option>11</option>
                            	<option>12</option>
                            </select> 月
                            <select>
                            	<option>01</option>
                            	<option>02</option>
                            	<option>03</option>
                            </select> 日 </td>
                    </tr>
                </table>
                
                <p class="aln_c"><input type="button" name="" id="" value="上記の条件で検索する" class="mgb30" /></p>
                
                <div class="pagelink clearfix">
                <ul>
                	<li><a href="">&lt;</a></li>
                	<li><a href="">1</a></li>
                    <li><span>2</span></li>
                	<li><a href="">3</a></li>
                	<li><a href="">4</a></li>
                	<li><a href="">5</a></li>
                	<li><a href="">6</a></li>
                	<li><a href="">7</a></li>
                	<li><a href="">8</a></li>
                	<li><a href="">9</a></li>
                	<li><a href="">&gt;</a></li>
                </ul>
                <p class="total">トータル　12345件</p>
                </div>
                <table class="type02" summary="一覧">
                	<tr>
                   		<th class="w4">&nbsp;</th>
                    	<th class="w7">ID <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w12">販売会社名 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w11">都道府県 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w12">部署･役職 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w10">担当者 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w11">担当電話 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w13">メールアドレス<a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w9">登録日 <a href="">▲</a> <a href="">▼</a></th>
                    	<th class="w9">更新日 <a href="">▲</a> <a href="">▼</a></th>
                	</tr>
                    <tr>
                    	<td class="aln_c"><input type="button" name="" id="" value="詳細" /></td>
                    	<td class="aln_r">1</td>
                    	<td>販売会社販売会社</td>
                    	<td>東京都</td>
                    	<td>部署役職</td>
                    	<td>担当者名</td>
                    	<td>012-345-6789</td>
                    	<td>abc@abc.jp</td>
                    	<td class="aln_r">2008/09/01</td>
                    	<td class="aln_r">2008/09/01</td>
                    </tr>
                
                </table>

                <div class="pagelink clearfix">
                <ul>
                	<li><a href="">&lt;</a></li>
                	<li><a href="">1</a></li>
                    <li><span>2</span></li>
                	<li><a href="">3</a></li>
                	<li><a href="">4</a></li>
                	<li><a href="">5</a></li>
                	<li><a href="">6</a></li>
                	<li><a href="">7</a></li>
                	<li><a href="">8</a></li>
                	<li><a href="">9</a></li>
                	<li><a href="">&gt;</a></li>
                </ul>
                <p class="total">トータル　12345件</p>
                </div>
        </div>
        
        </div>
        <address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
    </div>

</body>
</html>
