<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" type="text/css" href="../css/import.css" media="all" />
<script type="text/javascript" language="javascript" src="../js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" language="javascript" src="../js/jquery.dropdownPlain.js"></script>
<title>メーカー新規登録｜マスターメンテナンス｜モエゲー管理画面</title>
</head>

<body>
	<div id="wrap">
    	<div id="header" class="clearfix">
        	<h1>モエゲー管理システム</h1>            <ul class="dropdown">
            	<li class="li01"><a href="../contents/index.html">コンテンツ</a>
                	<ul class="submenu">
                            <li><a href="../contents/index.html">作品一覧</a></li>
                            <li><a href="../contents/item.html">商品一覧</a></li>
                    </ul></li>
            	<li class="li02"><a href="../user/index.html">ユーザー</a>
                	<ul class="submenu">
                            <li><a href="../user/index.html">ユーザー</a></li>
                    </ul></li>
            	<li class="li03"><a href="../sales/index.html">売上</a>
                	<ul class="submenu">
                            <li><a href="../sales/index.html">売上</a></li>
                            <li><a href="../sales/pay_index.html">支払</a></li>
                    </ul></li>
            	<li class="li04"><a href="../magazine/index.html">メルマガ</a>
                	<ul class="submenu">
                            <li><a href="../magazine/index.html">メルマガメイン</a></li>
                            <li><a href="../magazine/send.html">新規配信設定</a></li>
                            <li><a href="../magazine/send_old.html">送信履歴</a></li>
                    </ul></li>
            	<li class="li05"><a href="../maintenance/index.html">マスターメンテナンス</a>
                	<ul class="submenu">
                            <li><a href="../maintenance/index.html">販売会社</a></li>
                            <li><a href="../maintenance/maker.html">メーカー</a></li>
                            <li><a href="../maintenance/genre.html">ジャンル</a></li>
                            <li><a href="../maintenance/price.html">コース</a></li>
                            <li><a href="../maintenance/detail.html">詳細設定</a></li>
                    </ul></li>
            </ul>
            <input type="image" src="../images/common/btn_logout.gif" alt="ログアウト" width="73" height="22" />
        </div>
        <div id="contents">
        	<p class="pankuzu"><a href="../index.html">メインメニュー</a> &gt; <a href="index.html">マスターメンテナンス</a> &gt; メーカー新規登録</p>
            <h2>【マスターメンテナンス】メーカー新規登録</h2>
            <div class="inner pdt15 clearfix">
            <h3>会社情報</h3>
                <table class="type01 mgb30" summary="登録">
                	<tr>
                    	<th>販売会社名</th>
                        <td colspan="3">
                        <select>
                        <option>販売会社</option>
                        <option>販売会社</option>
                        <option>販売会社</option>
                        </select> <input type="text" name="" id="" /> ※販売会社検索絞込み</td>
                    </tr>
                    <tr>
                    	<th>メーカー名<span class="note">*必須</span></th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    	<th>ふりがな<span class="note">*必須</span></th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                    <tr>
                    	<th>代表者名</th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    	<th>ふりがな</th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                    <tr>
                    	<th rowspan="4">住所</th>
                        <td colspan="3">
                        〒 <input type="text" name="" id="" class="short" /> - <input type="text" name="" id="" />　<input type="button" name="" id="" value="住所を表示" /></td>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">住所1<br /><input type="text" name="" id="" class="long" /><br />例）東京都中央区銀座　※郵便番号を入力して【住所を表示】をクリックすると、住所が入力されます。</td>
                    </tr>
                    <tr>
                        <td colspan="3">住所2<br /><input type="text" name="" id="" class="long" /><br />例）1-1-1</td>
                    </tr>
                    <tr>
                        <td colspan="3">建物・部屋番号<br /><input type="text" name="" id="" class="long" /><br />例）○○○ビル3F</td>
                    </tr>
                	<tr>
                    	<th>代表番号</th>
                        <td colspan="3"><input type="text" name="" id="" /> - <input type="text" name="" id="" /> - <input type="text" name="" id="" /></td>
                    </tr>
                	<tr>
                    	<th>URL</th>
                        <td colspan="3"><input type="text" name="" id="" class="long" /></td>
                    </tr>
                	<tr>
                    	<th>メールアドレス</th>
                        <td colspan="3"><input type="text" name="" id="" class="long" /></td>
                    </tr>
                </table>
            <h3>担当者情報（1）</h3>
                <table class="type01" summary="登録">
                    <tr>
                    	<th>担当者名<span class="note">*必須</span></th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    	<th>ふりがな<span class="note">*必須</span></th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                	<tr>
                    	<th>部署・役職</th>
                        <td colspan="3"><input type="text" name="" id="" class="long" /></td>
                    </tr>
                	<tr>
                    	<th>直通電話</th>
                        <td colspan="3"><input type="text" name="" id="" /> - <input type="text" name="" id="" /> - <input type="text" name="" id="" /></td>
                    </tr>
                	<tr>
                    	<th>携帯電話</th>
                        <td colspan="3"><input type="text" name="" id="" /> - <input type="text" name="" id="" /> - <input type="text" name="" id="" /></td>
                    </tr>
                	<tr>
                    	<th>メールアドレス</th>
                        <td colspan="3"><input type="text" name="" id="" class="long" /></td>
                    </tr>
                	<tr>
                    	<th>ログインID<span class="note">*必須</span></th>
                        <td colspan="3"><input type="text" name="" id="" class="middle" />　<input type="checkbox" name="" id="" /> 担当者のメールアドレスを使う場合はここにチェック</td>
                    </tr>
                	<tr>
                    	<th>パスワード<span class="note">*必須</span></th>
                        <td colspan="3"><input type="text" name="" id="" class="middle" />　※8文字以上の半角英数字</td>
                    </tr>
                    <tr>
                        <td colspan="4"><input type="button" name="" id="" value="担当者を追加" />　<input type="button" name="" id="" value="確認" /></td>
                    </tr>
                </table>
            <h3>担当者情報（2）</h3>
                <table class="type01" summary="登録">
                    <tr>
                    	<th>担当者名<span class="note">*必須</span></th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    	<th>ふりがな<span class="note">*必須</span></th>
                        <td><input type="text" name="" id="" class="middle" /></td>
                    </tr>
                	<tr>
                    	<th>部署・役職</th>
                        <td colspan="3"><input type="text" name="" id="" class="long" /></td>
                    </tr>
                	<tr>
                    	<th>直通電話</th>
                        <td colspan="3"><input type="text" name="" id="" /> - <input type="text" name="" id="" /> - <input type="text" name="" id="" /></td>
                    </tr>
                	<tr>
                    	<th>携帯電話</th>
                        <td colspan="3"><input type="text" name="" id="" /> - <input type="text" name="" id="" /> - <input type="text" name="" id="" /></td>
                    </tr>
                	<tr>
                    	<th>メールアドレス</th>
                        <td colspan="3"><input type="text" name="" id="" class="long" /></td>
                    </tr>
                	<tr>
                    	<th>ログインID<span class="note">*必須</span></th>
                        <td colspan="3"><input type="text" name="" id="" class="middle" />　<input type="checkbox" name="" id="" /> 担当者のメールアドレスを使う場合はここにチェック</td>
                    </tr>
                	<tr>
                    	<th>パスワード<span class="note">*必須</span></th>
                        <td colspan="3"><input type="text" name="" id="" class="middle" />　※8文字以上の半角英数字</td>
                    </tr>
                    <tr>
                        <td colspan="4"><input type="button" name="" id="" value="担当者を追加" />　<input type="button" name="" id="" value="確認" /></td>
                    </tr>
                </table>
                
            </div>
        </div>
        <address class="cl">Copyright &copy;2010 menue All Rights Reserved.</address>
    </div>

</body>
</html>
